
<p>
<%= @text %>
</p>

<p>
<% if @morpho_result %>
  <% @morpho_result.each do |e| %>
    <%= e['word'] %>(id=<%= e['id'] %>): <%= e['count'] %>
  <br>
  <% end %>
<% end %>
</p>

<p>
<%= @system_output %>
</p>
