<!DOCTYPE html>
<html>
<head>
  <title>効果測定解答ロボ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div align="center">
<h1><a href="/">効果測定解答ロボ</a></h1>
<p>
  <a href="/">
  <script>
  var urlbody = 'https://dl.dropboxusercontent.com/u/53437072/title';
  var filebody = '<%= "#{@result_pn}" %>';
  document.write('<img src="' + urlbody + filebody + '.png">');
  // document.write(urlbody + filebody + '.png');
  </script>
  </a>
</p>

<%= form_tag('/analyze') do %>
  <%= text_area 'input','user', :size=>'60x3' %>
  <%= submit_tag '教えて! ロボ' %>
<% end %>

<%= yield %>
</div>
<div align="center">
<p>
Version: 1.00 alpha<br />
効果測定の問題をロボが解きます。<br />
学習にあたっては、<a href="http://menkyo-web.com/" target="_blank">menkyo-web.com</a>さんの問題を勝手ながら利用させていただきました。私の教習生時代からお世話になっております。問題がありましたら連絡を下さい。<br />
技術的な話では、1000問程度の問題をヤフーの形態素解析APIで分解し、Bag-of-Words一本でベクトル化しています。<br />
現在のところ、正解率は53%程度とまだまだです。おそらく次元の呪いにかかっています。<br />
今後の課題として学習モデルのチューンアップが考えられます。あと、かっこよくしたい。
</p>
<script type="text/javascript">
document.forms[0].elements["input[user]"].value = "一方通行の道路で右折するときは、あらかじめ道路の中央によって徐行しなければならない。";
</script>
</body>
</html>
