<!DOCTYPE html>
<html>
  <head>
    <title>効果測定解答ロボ</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
    <style type="text/css">
      html {
        height: 100%;
      }
      body {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        padding: 5% 30% 0%;
      }
      h1 {
        text-align: center;
      }
      div#container {
        flex: 1;
      }
      div#training_datas {
        width: 100%;
        height: 50px;
        line-height: 50px;
        // background-color: #d7d955;
      }
    </style>
  </head>
  <body>
    <div id="container">
      <h1><a href="/">効果測定解答ロボ</a></h1>
      <p>
        <a href="/">
          <%= image_tag "https://ogatube.com/image/robo/title#{@result_pn}.png", :class => 'img-responsive' %>
        </a>
      </p>

      <div class="input-group">
        <%= form_tag '/analyze', :class => 'form-group' do %>
          <%= text_area 'input','user', :class => 'form-input', :size => '60x3', :placeholder => 'test' %>
          <%= submit_tag '教えて! ロボ', :class => 'btn btn-lg btn-primary' %>
        <% end %>
      </div>

      <%= yield %>
    </div>
    <div id="training_datas">
      Training Data (scraping from): <a href="http://menkyo-web.com/" target="_blank">menkyo-web.com</a>, <a href="http://www5b.biglobe.ne.jp/~nobusann/" target="_blank">unten-menkyo.toru</a>, <a href="http://www.takaragaike.co.jp/" target="_blank">takaragaike.co.jp</a>
    </div>
    <script type="text/javascript">
      document.forms[0].elements["input[user]"].value = "進路を変更しようとするときは、３秒前に合図をすれば他の交通に関係なく進路を変えてもよい。";
    </script>
  </body>
</html>
